doctype html
html(lang="en")
  - var stylesheet = '/src/css/404.css'
  include ./includes/head.jade
  body.full.dark
    .full--content
      a(href="/")
        img(src="/src/img/icons/logo.svg", alt="punchtime")
      p We couldn't find this page, maybe try some of these:
      p find out more about&nbsp;
        a(href="/") punchtime
      p log in to the&nbsp;
        a(href="/dashboard") dashboard
      p contact us via&nbsp;
        a(href="https://twitter.com/punchtimeio") twitter
