doctype html
html(lang="en")
  - var stylesheet = '/src/css/index.css'
  include ./includes/head.jade
  body
    .full.full__intro#intro
      .full--content
        h1 punchtime
        p simple timekeeping away from office
        p coming soon
      a(href="#info", title="go to the next section").full--arrow ↓
    .full.full__info#info
      .full--content
        h2 Reducing friction
        p Punchtime uses your location when it needs it to give a clear overview of where you've been.
        h2 Useable by everyone
        p From painters to electricians, everyone who doesn't work an office job will be able to use it.
      a(href="#footer", title="go to the next section").full--arrow ↓
    footer.full.full__footer#footer
      .full--content
        p find us on #[a(href="https://twitter.com/punchtimeio") twitter]
        p join our mailing list:
          form(action="https://punchtime.us13.list-manage.com/subscribe/post?u=8c6172e914a7e80b001ca0dca&amp;id=d5d24ee188" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form").inline
            input(type="email", name="EMAIL" placeholder="your@email.com", id="mce-EMAIL")
            input(type="text" name="b_8c6172e914a7e80b001ca0dca_d5d24ee188" style="display: none;" tabindex="-1" value="")
            input(type="submit", value="subscribe")
        p created as a second-year project for #[a(href="http://www.odisee.be") Odisee] by #[a(href="https://haroen.me") Haroen Viaene], #[a(href="https://weyts.xyz") Arnaud Weyts] and #[a(href="https://eliasmei.re") Elias Meire].
        p all code is open source and visible at #[a(href="https://github.com/punchtime") github.com/punchtime].
    script(src="src/js/index.js")
    script(src="src/js/scripts.js")
    include ./includes/foot.jade
