doctype html
html(lang="en")
  - var stylesheet = '/src/css/dashboard.css'
  include ../includes/head.pug
  body
    include header.pug
    section.settings
      h1 Settings
      p Welcome&nbsp;
        span#username
        button#logout log out
      form#create
        div
          label(for="name") Name
          input#name(type="text",name="name",placeholder="company name")
        fieldset
          label employees
          div.inline
            input(type="email", placeholder="their@email.com", name="email-0", data-num="0")
            button#add(type="button") +
        input(type="submit",value="submit")

    script(src="/src/js/settings.js")
    include ../includes/foot.pug
