doctype html
html(lang="en")
  - var stylesheet = '/src/css/dashboard.css'
  include ../includes/head.pug
  body
    include header.pug
    section.settings
      h1 Settings
      p Welcome&nbsp;
        span#username
        button#logout log out
      form#add
        label(for="name") Name
        input#name(type="text",name="name",placeholder="company name")
        input(type="submit",value="submit")

    script(src="/src/js/settings.js")
    include ../includes/foot.pug
