header.header
  h1.header--item
    a(href="/")
      img(src="/src/img/favicon/favicon-32x32.png", alt="punchtime logo", title="go home")
  h2.header--item
    a(href=".") Company Name
  a(href="settings.html").header--item
    include ../src/img/icons/settings.svg
