header.header
  h1.header--item
    a.nolink(href="/")
      img(src="/src/img/icons/logo.svg", alt="punchtime logo", title="go home")
  h2.header--item
    a.nolink(href=".")#company-name Company Name
  a.nolink(href="settings.html").header--item
    include ../src/img/icons/settings.svg
