doctype html
html(lang="en")
  - var stylesheet = '/src/css/dashboard.css'
  include ../includes/head.jade
  body
    include header.jade
    section.employees
      h1 Employees
      div.employee-container
        div.employee-container--item
          img(src="/src/img/favicon/favicon-96x96.png", alt="John Doe")
          p John Doe
          span.status.status__good ok
        div.employee-container--item
          img(src="/src/img/favicon/favicon-96x96.png", alt="John Doe")
          p John Doe
          span.status.status__bad ok
        div.employee-container--item
          img(src="/src/img/favicon/favicon-96x96.png", alt="John Doe")
          p John Doe
          span.status.status__to-confirm ok
        div.employee-container--item
          img(src="/src/img/favicon/favicon-96x96.png", alt="John Doe")
          p John Doe
          span.status.status__bad ok
    section.overview
      h1 Overview
      div.graph
        p This will hold the employee graph to be made with #[code d3.js]
    footer.footer
      h2 FAQ
      ul
        li
          a(href="/") some link
    //- script(src="/src/js/dashboard.js")
    script(src="/src/js/scripts.js")
    include ../includes/foot.jade
