doctype html
html(lang="en")
  - var stylesheet = '/src/css/dashboard.css'
  include ../includes/head.jade
  body
    include header.jade
    section.employees
      h1 Employees
      div.employee-container
        //- template for an employee
        //- div.employee
        //-   img(src="/src/img/favicon/favicon-96x96.png", alt="John Doe").employee--image
        //-   p.employee--name John Doe
        //-   span(title="status bad").status.status__bad bad
        //- necessary to keep order
        div(class="👻")
        div(class="👻")
        div(class="👻")
        div(class="👻")
        div(class="👻")
        div(class="👻")
    section.overview
      h1 Overview
      div.graph
        div#timeline
    footer.footer
      h2 FAQ
      ul
        li
          a(href="/") some link
    script(src="https://www.gstatic.com/charts/loader.js")
    script(src="/src/js/dashboard.js")
    script(src="/src/js/scripts.js")
    include ../includes/foot.jade
