doctype html
html(lang="en")
  - var stylesheet = '/src/css/dashboard.css'
  include ../includes/head.jade
  body
    include header.jade
    section.employees
      h1 Employees
      div.employee-container
        div.employee
          img(src="/src/img/favicon/favicon-96x96.png", alt="John Doe").employee--image
          p.employee--name John Doe
          span(title="status good").status.status__good ok
        div.employee
          img(src="/src/img/favicon/favicon-96x96.png", alt="John Doe").employee--image
          p.employee--name John Doe
          span(title="status bad").status.status__bad ok
        div.employee
          img(src="/src/img/favicon/favicon-96x96.png", alt="John Doe").employee--image
          p.employee--name John Doe
          span(title="status to confirm").status.status__to-confirm ok
        div.employee
          img(src="/src/img/favicon/favicon-96x96.png", alt="John Doe").employee--image
          p.employee--name John Doe
          span(title="status bad").status.status__bad ok
        div.employee
          img(src="/src/img/favicon/favicon-96x96.png", alt="John Doe").employee--image
          p.employee--name John Doe
          span(title="status good").status.status__good ok
        div.employee
          img(src="/src/img/favicon/favicon-96x96.png", alt="John Doe").employee--image
          p.employee--name John Doe
          span(title="status bad").status.status__bad ok
        div.employee
          img(src="/src/img/favicon/favicon-96x96.png", alt="John Doe").employee--image
          p.employee--name John Doe
          span(title="status to confirm").status.status__to-confirm ok
        div.employee
          img(src="/src/img/favicon/favicon-96x96.png", alt="John Doe").employee--image
          p.employee--name John Doe
          span(title="status bad").status.status__bad ok
        //- to be fixed!!!
        div(class="👻")
        div(class="👻")
        div(class="👻")
        div(class="👻")
        div(class="👻")
        div(class="👻")
    section.overview
      h1 Overview
      div.graph
        p This will hold the employee graph to be made with #[code d3.js] and #[code #[a(href="https://github.com/jiahuang/d3-timeline") jiahuang/d3-timeline]]
        div#timeline
    footer.footer
      h2 FAQ
      ul
        li
          a(href="/") some link
    script(src="http://d3js.org/d3.v3.min.js")
    script(src="https://cdn.rawgit.com/jiahuang/d3-timeline/master/src/d3-timeline.js")
    script(src="/src/js/dashboard.js")
    script(src="/src/js/scripts.js")
    include ../includes/foot.jade
