doctype html
html(lang="en")
  - var stylesheet = '/src/css/dashboard.css'
  include ../includes/head.jade
  body
    include header.jade
    section
      h1 Settings
      p Welcome&nbsp;
        span#username
      button#logout log out
      form#settings
        label(for="company") Pick the company you want to admin
        select#company(name="company")
        input(type="submit",value="submit")
      form#invite
        p Invite employees to your team. They'll receive an email instructing how to join your team.
        formset.inline
          div
            input(type="email", placeholder="their@email.com", name="email-0", data-num="0")
            button#add(type="button") +
        input(type="submit",value="submit")

    script(src="/src/js/settings.js")
    include ../includes/foot.jade
