doctype html
html(lang="en")
  - var stylesheet = '/src/css/dashboard.css'
  include ../includes/head.jade
  body
    include header.jade
    section
      h1 Settings
      p Welcome&nbsp;
        span#username
      button#logout log out
      form#settings
        label(for="company") Pick the company you want to admin
        select#company(name="company")
        input(type="submit")

    script(src="/src/js/settings.js")
    script(src="/src/js/scripts.js")
    include ../includes/foot.jade
