doctype html
html(lang="en")
  - var stylesheet = '/src/css/dashboard.css'
  include ../includes/head.pug
  body
    include header.pug
    section.settings
      h1 Settings
      p Welcome&nbsp;
        span#username
      button#logout log out
      form#settings
        label(for="company") Pick the company you want to admin
        select#company(name="company")
        a(href="create.html") create a new company
        input(type="submit",value="submit")
      form#invite
        p Invite employees to your team. They'll receive an email instructing how to join your team.
        fieldset
          div.inline
            input(type="email", placeholder="their@email.com", name="email-0", data-num="0")
            button#add(type="button") +
        input(type="submit",value="submit")
      form#contact
        p Let your employees contact you
        div
          label(for="phone") phone number
          input(type="tel",placeholder="0032XXXXXXXXX",name="phone")#contact-phone
        div
          label(for="email") email address
          input(type="email", placeholder="your@email.com", name="email")#contact-email
        div
          label(for="note") extra info
          input(name="note", type="text")#contact-note
        input(type="submit",value="submit")

    script(src="/src/js/settings.js")
    include ../includes/foot.pug
