doctype html
html(lang="en")
  - var stylesheet = '/src/css/firebase.css'
  include ../includes/head.jade
  body.dev
    p This is the firebase data, look at <code>firebase.js</code> to see how it works.
    button#facebook login with facebook
    button#google login with google
    button#twitter login with twitter
    form
      fieldset#pulse
        legend test pulse
        label(for="latitude") latitude
        input(type="text", name="latitude")
        label(for="longitude") longitude
        input(type="text", name="longitude")
        label(for="note") note
        input(type="text", name="note")
        label(for="time") time
        input(type="text", name="time")
        label(for="type") type
        input(type="text", name="type", value="checkin")
        label(for="user") user
        input(type="text", name="user", value="test-user")
        input(type="submit")
      fieldset#create-user
        legend test user
        label(for="name") name
        input(type="text", name="name")
        label(for="employee") employee of
        input(type="text", name="employee")
        label(for="employer") employer of
        input(type="text", name="employer")
        input(type="submit")
    #table
    script(src="/src/js/firebase.js")
    script(src="/src/js/scripts.js")
    include ../includes/foot.jade
