doctype html
html
  body
    meta(charset='UTF-8')
    script.
      window.location.href = 'punchtime://invite/'+window.location.hash.substr(1);
      link.href = 'punchtime://invite/'+window.location.hash.substr(1);
    title Page Redirection
    | If you are not redirected automatically, follow the
    a#link link.

