/**
 * Styles for the employer dashboard
 * @author Haroen Viaene <hello@haroen.me>
 */

@import 'development';

$color-status-good: $color-accent-light;
$color-status-bad: complement($color-accent-light);

body {
  display: flex;
  flex-direction: column;

  section {
    margin: 1em;
  }
}

.header {
  background-color: $color-accent-dark;
  display: flex;
  padding: 1em;
  justify-content: space-between;
  align-items: center;

  &--item {
    font-size: 1.5em;
  }

  a {
    color: inherit;
    text-decoration: none;
  }

  svg,img {
    height: 1.5em;
  }

  color: $color-light;
}

// employee cards

.employee-container {
  display: flex;
  flex-wrap: wrap;
}

.employee {
  @extend %card;
  background-color: $color-accent-medium;
  color: $color-light;
  margin: .5em;
  display: flex;
  flex-direction: column;
  flex: 1 1 10em;

  &--image {
    width: 100%;
    height: 10em;
    object-fit: cover;
  }

  &--name {
    text-align: center;
    margin: .2em;
    flex-grow: 1;
  }
}

// flexfix
.\👻 {
  order: 1; // force last item
  flex: 1 0 10em; // same as flexbox children
  margin: 0 .5em; // same as flexbox children (no top/bottom)
}


.status {
  width: 100%;
  height: .5em;
  overflow: hidden;
  align-self: flex-end;
  color: transparent;
  // cursor: pointer;
  user-select: none;

  &__bad {
    background-color: $color-status-bad;
  }

  &__good {
    background-color: $color-status-good;
  }
}

// styles for overview

.overview {
  background-color: transparentize($color-accent-dark,0.4);
  backdrop-filter: blur(10px);
  width: 100%;
  height: 100%;
  padding: 1em;

  &--content {
    background-color: $color-light;
    max-width: 40rem;
    margin: 0 auto;
    @extend %card;
  }

  &--title {
    background-color: $color-accent-medium;
    color: $color-light;
    padding: 1em;
    border-right: .5em solid $color-accent-light;
  }
}

.timeline {
  display: flex;
  flex-direction: column;
  margin: .5em;

  &--item {
    cursor: pointer;

    h4, .duration {
      margin: .3em;
      hyphens: auto;
      word-break: break-word;
    }

    &__day {
      margin: .5em 0;
    }

    &__still {
      background-color: $color-accent-medium;
      color: $color-light;
      padding: .2em;
      @extend %card;
      border-right: solid .5em $color-accent-medium;
    }

    &__travel {
      margin: 0;
      padding: 1em;
      margin-left: 1em;
      border-left: solid .2em $color-accent-medium;
    }

    &__confirmed {
      border-color: $color-status-good;
    }

    &__unconfirmed {
      border-color: $color-status-bad;
    }
  }
}

.duration {
  display: flex;
  &--arrow {
    margin: 0 .5em;
  }
}


// misc

.footer {
  display: none;
}
