/**
 * Styles for pages that are in development
 * @author Haroen Viaene <hello@haroen.me>
 */

@import 'generic';

body.dev:before {
  content: 'development';
  color: $color-accent;
  position: fixed;
  top: 0;
  left: 0;
  border-right: 1px solid $color-accent;
  border-bottom: 1px solid $color-accent;
  padding: .2em;
  border-bottom-right-radius: $size-radius-small;
}
