/**
 * Styles for the firebase page.
 */

@import 'development';

body {
  padding-top: 2em;
}

form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: initial;
  flex-direction: row;

  fieldset {
    flex: 1 0 11rem;
    padding: .2em;
    margin: .2em;
    border: 1px solid #ccc;
  }
  input, button  {
    font-size: 1rem;
    border: 1px solid #ccc;
    appearance: none;
    padding: .1rem;
  }
  input, label, button {
    display: block;
    margin: .3rem auto;
    width: 100%;
  }
}

:disabled {
  cursor: not-allowed;
}

table {
  border-collapse: collapse;
}
table, tbody {
  width: 100%;
}
tr {
  border: 1px solid #ccc;
  text-align: top;
  overflow: auto;
}
th, td {
  text-align: left;
  padding: 4px;
  word-break: break-word;
}
