/**
 * Styles for the firebase page.
 */

@import 'development';

body {
  padding-top: 2em;
}

form {
  fieldset {
    display: block;
  }
  input {
    border: 1px solid #ccc;
    appearance: none;
    padding: .1rem;
  }
  input, label {
    display: block;
    margin: .3rem auto;
    width: 10rem;
  }
}

table {
  border-collapse: collapse;
}
table, tbody {
  width: 100%;
}
tr {
  border: 1px solid #ccc;
  text-align: top;
}
th, td {
  text-align: left;
  padding: 4px;
}
