/*
 * generic styling and variables
 *
 * @author Haroen Viaene <hello@haroen.me>
 */

$font-family-general: system, -apple-system, Roboto, sans-serif;

$size-radius-small: 0.3em;
$size-radius: 0.5em;
$size-radius-large: 1em;
$size-radius-circle: 50%;

$color-light: white;
$color-dark: black;
$color-accent-dark: #282F3F;
$color-accent-light: #1DE9B6;

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-family: $font-family-general;
  box-sizing: border-box;
  background-color: $color-light;
  color: $color-dark;
}

.dark {
  color: $color-light;
  background-color: $color-accent-dark;
}

a {
  color: $color-accent-light;
}

.inline {
  display: inline-block;
  max-width: initial;
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  max-width: 15em;
  margin: 1em 0;
}

button, input[type=button], input[type=submit] {
  font-size: 1em;
  appearance: none;
  background-color: $color-accent-dark;
  color: $color-light;
  border: 1px solid $color-light;
  user-select: none;
  border-radius:.2em;
  padding: .2em;
  margin: .2em;
  transition: all ease .2s;

  &:active,&:focus {
    color: $color-dark;
    background-color: $color-light;
  }

  &:focus {
    border: 2px solid $color-accent-dark;
  }
}

input {
  font-size: 1em;
  border: none;
  padding: .2em;
  border-bottom: 1px solid currentColor;
  appearance: none;
  background-color: transparent;

  &:focus {
    outline: none;
    border-bottom: 2px solid currentColor;
  }
}


.modal {
  background-color: #9E9E9E;
  font-size: .8em;
  padding: .2rem;
  border-radius: .2em;
  width: 80vw;
  position: absolute;
  left: 10vw;
  top: 40vh;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media all and (min-width: 40rem) {
    width: 40vw;
    left: 30vw;
  }

  button {
    cursor: pointer;
    user-select: none;
  }

  &--button__cancel {
    display: none;
  }
}
