/**
 * stylesheet for the index/landing page
 *
 * @author Haroen Viaene <hello@haroen.me>
 */

@import 'generic';

.full {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 2em;
  padding-bottom: 11vh;
  position: relative;

  p {
    padding: 1em;
  }

  // the arrow is inside the container
  &:after {
    position: absolute;
    bottom: 11vh;
    left: calc(50% - .5em);
    content: '↓'; // don't use ⬇, gets converted to emoji on iOS
  }

  // don't show for the last page
  + .full:after {
    content: '';
  }
}
