/**
 * stylesheet for the index/landing page
 *
 * @author Haroen Viaene <hello@haroen.me>
 */

@import 'generic';

.full {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 2em;
  padding-bottom: 11vh;
  position: relative;

  p {
    padding: 1em;
  }

  // seemingly, it's not possible to have this positionend at the bottom without position absolute
  // todo: if you find somehow a thing that would work like `justify-self: flex-end`, that'd be cool
  .full--arrow {
    color: $color-dark;
    text-decoration: none;
    position: absolute;
    bottom: 11vh;
    left: calc(50% - .5em);
  }

  // don't show for the last page
  + .full:after {
    content: '';
  }
}
